---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getWorks } from '../../lib/content';
import { PAGES } from '../../config/site';
import { WorkCard, PageHeader } from '../../components';

const works = await getWorks();
---

<BaseLayout title={PAGES.works.title} description={PAGES.works.description} width="wide">
  <PageHeader title={PAGES.works.title} />

  {
    works.length > 0 && (
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-5 mt-12">
        {works.map((work) => (
          <WorkCard work={work} />
        ))}
      </div>
    )
  }
</BaseLayout>
